# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/
 
# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
wp-content/plugins/index.php
wp-content/plugins/rtcamp-wp-slideshow/vendor
wp-content/plugins/rtcamp-wp-slideshow/node_modules
!wp-content/plugins/

# Ignore every log files
*.log